<h1>Hola {{persona.Nombre}}</h1>

<button [disabled]="btbDisabled">boton</button>
<input type="button" (click)="listenBtn($event)" [value]="persona.Nombre">

<input type="text" [(ngModel)]="persona.Nombre" (keyup)="onKeyUp($event)">

<input type="text" #ageInput="ngModel" max="18" min="17" required [(ngModel)]="persona.Edad">
<p>{{ageInput.valid}}</p>


<p *ngIf="(persona.Edad >= 10) else templateElse">Soy el if de tu else</p>
<ng-template #templateElse>
  <div>yo soy el else </div>
</ng-template>

<div [ngSwitch]="color">
  <p *ngSwitchCase="'azul'">
    El color el Azul
  </p>
  <p *ngSwitchCase="'verde'">
    El color el Verde
  </p>
  <p *ngSwitchCase="'rojo'">
    El color el Rojo
  </p>
  <p *ngSwitchDefault>
    No hay ningún color
  </p>
</div>

<ul>
  <li *ngFor="let el of emojis">
    {{ el }}
  </li>
</ul>